{% extends "base.html" %}
{% block body %}
<p>
<div class="main2">about me</div>
</p>
<div class="about">

	<p class="about_text">
		Hi, I'm Elli! I recently graduated from Hackbright Academy, a software engineering fellowship for women. I'm a full stack engineer seeking new opportunities. My prior work experience includes project management, operations, client relations, and teaching.</p>
	<p class="about_text">
		Please feel free to reach out!</p><br>

		<p class="contact_links">
		<a href="https://github.com/ebalcomb"><i class="fa fa-github fa-lg"></i> Github</a>&nbsp;&nbsp;&nbsp;
		<a href="http://www.linkedin.com/in/ellibalcomb"><i class="fa fa-linkedin fa-lg"></i> LinkedIn</a>&nbsp;&nbsp;&nbsp;
		<a href="https://www.facebook.com/ElliBalcomb"><i class="fa fa-facebook fa-lg"></i> Facebook</a>&nbsp;&nbsp;&nbsp;
		<a href="https://twitter.com/ebalcomb"><i class="fa fa-twitter fa-lg"></i> Twitter</a>
	</p>

</div>
{% endblock %}
