{% extends 'base.html' %}

{% block body %}
<h1>{{collection.title}}</h1>
<h2>{{collection.description}}</h2>

<p><a class="btn btn-primary btn-lg" role="button" href="/collection/{{collection.id}}/study">Study</a></p>

terms:
<ul>
{% for term in collection.terms %}
<li>{{term.term}}: {{term.definition}}</li>
{% endfor %}
</ul>


{% if collection.user_id == current_user.id %}
<p>
add term:
</p>
<form method="post">
    <input type="text" name="term" placeholder="Term"><br>
    <textarea name="definition" placeholder="Definition"></textarea><br>
    <input type="submit">
</form>
{% endif %}

{% endblock %}
