{% extends 'base.html' %}

{% block body %}
<h1>{{collection.title}}</h1>
<h2>{{collection.description}}</h2>

<div class="btn-group">
  <button type="button" id="termfirst" class="btn btn-default">Show Terms</button>
  <button type="button" id="definitionfirst" class="btn btn-default">Show Definitions</button>
</div>
<br>

{% for term in collection.terms %}
<div class="card">
<p class="term primary">{{term.term}}</p>
<p class="definition secondary invisible">{{term.definition}}</p>
</div>

{% endfor %}

{% endblock %}